			
			<tr class="item_images"><a name="#"></a>
				{% if goods.0 %}
				<td class="items"><a href = "#z0">
					<img src="{{ goods.0.image.url }}" width="230px" height="230px" alt="{{ goods.0.alt }}">
				</a></td>
				{% endif %}
				{% if goods.1 %}
				<td class="items"><a href = "#z1">
					<img src="{{ goods.1.image.url }}" width="230px" height="230px" alt="{{ goods.1.alt }}">
				</a></td>
				{% endif %}
				{% if goods.2 %}
				<td class="items"><a href = "#z2">
					<img src="{{ goods.2.image.url }}" width="230px" height="230px" alt="{{ goods.2.alt }}">
				</a></td>
				{% endif %}
				{% if goods.3 %}
				<td class="items"><a href = "#z3">
					<img src="{{ goods.3.image.url }}" width="230px" height="230px" alt="{{ goods.3.alt }}">
				</a></td>
				{% endif %}
			</tr>
			<tr class="item_subs">
				{% if goods.0 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.0.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.0.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.1 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.1.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.1.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.2 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.2.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.2.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.3 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.3.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.3.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
			</tr>
			<tr><td colspan="4"><p><a name="line2"></a></td></tr>
			<tr class="item_images">
				{% if goods.4 %}
				<td class="items"><a href = "#z4">
					<img src="{{ goods.4.image.url }}" width="230px" height="230px" alt="{{ goods.4.alt }}">
				</a></td>
				{% endif %}
				{% if goods.5 %}
				<td class="items"><a href = "#z5">
					<img src="{{ goods.5.image.url }}" width="230px" height="230px" alt="{{ goods.5.alt }}">
				</a></td>
				{% endif %}
				{% if goods.6 %}
				<td class="items"><a href = "#z6">
					<img src="{{ goods.6.image.url }}" width="230px" height="230px" alt="{{ goods.6.alt }}">
				</a></td>
				{% endif %}
				{% if goods.7 %}
				<td class="items"><a href = "#z7">
					<img src="{{ goods.7.image.url }}" width="230px" height="230px" alt="{{ goods.7.alt }}">
				</a></td>
				{% endif %}
			</tr>
			<tr class="item_subs">
				{% if goods.4 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.4.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.4.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.5 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.5.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.5.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.6 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.6.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.6.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.7 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.7.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.7.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
			</tr>
			<tr><td colspan="4"><p><a name="line3"></a></td></tr>
			<tr class="item_images">
				{% if goods.8 %}
				<td class="items"><a href = "#z8">
					<img src="{{ goods.8.image.url }}" width="230px" height="230px" alt="{{ goods.8.alt }}">
				</a></td>
				{% endif %}
				{% if goods.9 %}
				<td class="items"><a href = "#z9">
					<img src="{{ goods.9.image.url }}" width="230px" height="230px" alt="{{ goods.9.alt }}">
				</a></td>
				{% endif %}
				{% if goods.10 %}
				<td class="items"><a href = "#z10">
					<img src="{{ goods.10.image.url }}" width="230px" height="230px" alt="{{ goods.10.alt }}">
				</a></td>
				{% endif %}
				{% if goods.11 %}
				<td class="items"><a href = "#z11">
					<img src="{{ goods.11.image.url }}" width="230px" height="230px" alt="{{ goods.11.alt }}">
				</a></td>
				{% endif %}
			</tr>
			<tr class="item_subs">
				{% if goods.8 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.8.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.8.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.9 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.9.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.9.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.10 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.10.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.10.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.11 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.11.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.11.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
			</tr>
			<tr><td colspan="4"><p><a name="line4"></a></td></tr>
			<tr class="item_images">
				{% if goods.12 %}
				<td class="items"><a href = "#z12">
					<img src="{{ goods.12.image.url }}" width="230px" height="230px" alt="{{ goods.12.alt }}">
				</a></td>
				{% endif %}
				{% if goods.13 %}
				<td class="items"><a href = "#z13">
					<img src="{{ goods.13.image.url }}" width="230px" height="230px" alt="{{ goods.13.alt }}">
				</a></td>
				{% endif %}
				{% if goods.14 %}
				<td class="items"><a href = "#z14">
					<img src="{{ goods.14.image.url }}" width="230px" height="230px" alt="{{ goods.14.alt }}">
				</a></td>
				{% endif %}
				{% if goods.15 %}
				<td class="items"><a href = "#z15">
					<img src="{{ goods.15.image.url }}" width="230px" height="230px" alt="{{ goods.15.alt }}">
				</a></td>
				{% endif %}
			</tr>
			<tr class="item_subs">
				{% if goods.12 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.12.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.12.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.13 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.13.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.13.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.14 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.14.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.14.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.15 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.15.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.15.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
			</tr>
			<tr><td colspan="4"><p><a name="line5"></a></td></tr>
			<tr class="item_images">
				{% if goods.16 %}
				<td class="items"><a href = "#z16">
					<img src="{{ goods.16.image.url }}" width="230px" height="230px" alt="{{ goods.16.alt }}">
				</a></td>
				{% endif %}
				{% if goods.17 %}
				<td class="items"><a href = "#z17">
					<img src="{{ goods.17.image.url }}" width="230px" height="230px" alt="{{ goods.17.alt }}">
				</a></td>
				{% endif %}
				{% if goods.18 %}
				<td class="items"><a href = "#z18">
					<img src="{{ goods.18.image.url }}" width="230px" height="230px" alt="{{ goods.18.alt }}">
				</a></td>
				{% endif %}
				{% if goods.19 %}
				<td class="items"><a href = "#z19">
					<img src="{{ goods.19.image.url }}" width="230px" height="230px" alt="{{ goods.19.alt }}">
				</a></td>
				{% endif %}
			</tr>
			<tr class="item_subs">
				{% if goods.16 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.16.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.16.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.17 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.17.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.17.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.18 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.18.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.18.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
				{% if goods.19 %}
				<td class="sub"><b><font color="#777676" size="2px">{{ goods.19.caption }}</font></b>
				<p style="margin-top: 5px;">
				<font color="#0e94c7" size="4px">{{ goods.19.price|floatformat:'0'|slugify }} ₽</font></td>
				{% endif %}
			</tr>
			